@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'ConsolasRegular';
    src: url('../public/fonts/consolas-webfont.eot');
    src: url('../public/fonts/consolas-webfont.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/consolas-webfont.woff') format('woff'),
    url('../public/fonts/consolas-webfont.ttf') format('truetype'),
    url('../public/fonts/consolas-webfont.svg#ConsolasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

/* General */
body {
  @apply bg-grey1;
}

h1 {
  @apply text-xl font-bold mb-4;
}


/* Mycelium sketch */
.mycelium_blob {
  @apply bg-tomato cursor-pointer rounded-full;
  border: 2px solid #fff;
  transition: opacity 1s;
  height: 10px;
  width: 10px;

  &:hover {
    background: #333;
    box-shadow: 0 0 7px -3px #333;
  }

  &.invisible {
    @apply opacity-0;
  }

  &.pulse {
    animation: 2s pulse-red 0s infinite;
  }
}

.mycelium_next_button,
.mycelium_end_message {
  @apply bg-black text-white fixed right-0 font-mono;
  bottom: 15px;
  padding: 5px 15px;
}

.mycelium_next_button:hover {
  @apply text-black bg-white;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.7);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 9px rgba(255, 99, 71, 0);
  }
}


/* Gallery */
.gallery-figcaption .gallery-figcaption--info .caption-right {
  @apply hidden;
}

.gallery-control {
  @apply hidden;
  width: 5% !important;
}

@media (min-width: 768px) {
  // Hide thumbnails on desktop
  ul.thumbnails-list {
    @apply hidden;
  }
  .gallery-control {
    @apply block;
  }

  // Force image to scale up (large photos currently have only 1000px width)
  .gallery ul.gallery-images--ul li.gallery-media-photo .picture img.photo {
    @apply w-full;
  }
}


/* Quotes */
.quote-content, .quote-author {
  @apply font-serif leading-relaxed2;
  font-size: 0.94rem;
}

.quote-author {
  @apply mt-4 text-primary;
}
