@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'ConsolasRegular';
    src: url('../public/fonts/consolas-webfont.eot');
    src: url('../public/fonts/consolas-webfont.eot?#iefix') format('embedded-opentype'),
    url('../public/fonts/consolas-webfont.woff') format('woff'),
    url('../public/fonts/consolas-webfont.ttf') format('truetype'),
    url('../public/fonts/consolas-webfont.svg#ConsolasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

/* General */
body {
  @apply bg-grey1;
}

h1 {
  @apply text-xl font-bold mb-4;
}

.border-left-1px {
  border-left: 1px solid #ffffff;
}

/* Mycelium sketch */
.mycelium_blob {
  @apply bg-primary cursor-pointer rounded-full;
  border: 2px solid #fff;
  transition: opacity 1s;
  height: 10px;
  width: 10px;

  &.invisible {
    @apply opacity-0;
  }

  &.unvisited {
    @apply bg-tomato;
  }

  &.pulse.unvisited {
    animation: 2.5s pulse-red 0s infinite;
  }

  &:hover {
    background: #444 !important;
    box-shadow: 0 0 7px -3px #333;
  }
}

.mycelium_next_button,
.mycelium_first_page_button{
  @apply bg-black text-white fixed right-0 font-mono shadow-md;
  bottom: 15px;
  padding: 5px 15px;
}

.mycelium_end_message {
  @apply bg-white text-black fixed right-0 font-mono text-right shadow-md;
  bottom: 15px;
  padding: 5px 15px;
  cursor: default;
  margin-bottom: 34px;
}

.mycelium_next_button:hover,
.mycelium_first_page_button:hover {
  @apply text-black bg-white shadow-inner;
}

@media (min-width: 768px) {
  .mycelium_next_button,
  .mycelium_first_page_button,
  .mycelium_end_message {
    bottom: 45%;
  }
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.7);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 9px rgba(255, 99, 71, 0);
  }
}


/* Gallery */
.gallery-figcaption--info .photo-caption,
.gallery-figcaption--info .photo-subcaption {
  @apply font-mono;
}

.gallery-figcaption--info .photo-caption {
  color: rgb(255, 255, 255);
}
.gallery-figcaption--info .photo-subcaption {
  color: rgba(255, 255, 255, 0.8);
}

.gallery-figcaption .gallery-figcaption--info .caption-right {
  @apply hidden;
}

.gallery-control {
  @apply hidden;
  width: 5% !important;
}

@media (min-width: 768px) {
  // Hide thumbnails on desktop
  ul.thumbnails-list {
    @apply hidden;
  }
  .gallery-control {
    @apply block;
  }

  // Force image to scale up (large photos currently have only 1000px width)
  .gallery ul.gallery-images--ul li.gallery-media-photo .picture img.photo {
    @apply w-full;
  }
}


/* Quotes */
.quote-author {
  @apply mt-4 text-primary font-mono leading-relaxed2;
  font-size: 0.94rem;
}


/* Modals */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}


/* Transitions */
.fluxus-fade-in-600-enter {
  opacity: 0;
}
.fluxus-fade-in-600-enter-active {
  opacity: 1;
  transition: opacity 600ms 300ms;
}
.fluxus-fade-in-600-exit {
  opacity: 1;
}
.fluxus-fade-in-600-exit-active {
  opacity: 0;
  transition: opacity 600ms 300ms;
}
.fluxus-fade-in-600-enter-done {
  opacity: 1;
}

.fluxus-fade-in-600-wait-1500-enter {
  opacity: 0;
}
.fluxus-fade-in-600-wait-1500-enter-active {
  opacity: 1;
  transition: opacity 600ms 1.5s;
}
.fluxus-fade-in-600-wait-1500-exit {
  opacity: 1;
}
.fluxus-fade-in-600-wait-1500-exit-active {
  opacity: 0;
  transition: opacity 600ms 1.5s;
}
.fluxus-fade-in-600-wait-1500-enter-done {
  opacity: 1;
}
