.markdown {
  @apply font-mono leading-relaxed2;
  font-size: 0.94rem;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-4;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown > p {
  margin-top: 0.5rem;
}

.markdown a {
  background: linear-gradient(to bottom, theme('colors.primary') 0%, theme('colors.primary') 100%);
  background-position: 0 100%;
  background-size: 1px 1px;
  transition: background-size .3s;
  @apply text-black no-underline bg-repeat-x;
}

.markdown a:hover {
  @apply no-underline;
  background-size: 4px 50px;
}
